# Project
ACTIVE_PROJECT=

# Build / Runtime
BUILD_ENV=development
NODE_ENV=development

# TinaCMS
NEXT_PUBLIC_TINA_BRANCH=
NEXT_PUBLIC_TINA_CLIENT_ID=
NEXT_PUBLIC_TINA_MODE=
TINA_TOKEN=

# Email / Notifications
POSTMARK_API_KEY=